asciitree==0.3.3
astrometry==4.1.2
astropy==6.0.1
astropy-iers-data==0.2024.4.29.0.28.48
astropy_healpix==1.0.3
astroquery==0.4.7
astroscrappy==1.1.0
beautifulsoup4==4.12.3
ccdproc==2.4.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
cryptography==42.0.5
dask==2024.4.2
ephem==4.1.5
fasteners==0.19
fsspec==2024.3.1
html5lib==1.1
idna==3.7
imageio==2.34.1
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jeepney==0.8.0
keyring==25.2.0
lazy_loader==0.4
locket==1.0.0
more-itertools==10.2.0
networkx==3.3
numcodecs==0.12.1
numpy==1.26.4
packaging==24.0
partd==1.4.1
photutils==1.12.0
pillow==10.3.0
pycparser==2.22
pyds9==1.8.1
pyerfa==2.0.1.4
pyvo==1.5.1
PyYAML==6.0.1
reproject==0.13.1
requests==2.31.0
scikit-image==0.23.2
scipy==1.13.0
SecretStorage==3.3.3
setuptools==69.5.1
six==1.16.0
soupsieve==2.5
tifffile==2024.4.24
toolz==0.12.1
urllib3==2.2.1
webencodings==0.5.1
zarr==2.17.2
